/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=OpenSans:300,400,500,600,700";
body {
    font-family: 'OpenSans', sans-serif;
    background: #FFFFFF;
    overflow-x: hidden; 
    position: relative;
}

html{
    scroll-behavior: smooth;
}

p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #000;
}

#main {
    position: relative;
    width: 1880px;
    background: #FFFFFF;
    overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  height: 100vh;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#link {
    color: #157fd1;
}

/* extra div which gets the border */
.embed-border {
border: 20px solid #F8F8F8;

box-sizing: border-box;
}

/* aspect ratio and positioning for responsive video */


.jump-nutrition{
margin-bottom: 12px;
}

.jump-blueditt{
margin-bottom: 12px;
}

.jump-nutrition a:link, .jump-nutrition a:visited {
    color: "#f97c0f" !important;
}

@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 0px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.fab, .fas {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}



.fa-envelope {
 margin-left: 7px;
}


.fa-linkedin , .fa-github, .fa-envelope{
    cursor:pointer;
    outline:none;
    font-size: 20px;

}


.wrapper {
    display: flex;
    width: 100%;
     align-items: stretch;
}


#top-menu {
    position: fixed;
    z-index: 1;
}

/*
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index:1;
    background: #55ACEE;
    color: #fff;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
*/

/*
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition:  .5s;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 250px;
    height: 1000px;
}
*/

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #00AEFF;
  color: #fff;
  overflow-x: hidden;
}


#content {
  
  padding: 40px;
  margin-top:10px;
    top: 0;
    right: 0;
    margin-left: 250px; /* added from previous style*/
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-top: 25px;
    background: #008aca;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li > a {
    border: 0.2px solid #EAECEE;
}

#sidebar ul li a:hover {
    color: #55ACEE;
    background: #fff;
}

.nav-container #sidebar a.active {
    color: #7386D5;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color: darkgray;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #00AEFF;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}



#content.active {
    width: 100%;
}

.carousel-inner img{
  width: auto;
  height: 525px;
  max-height: 525px;
}

.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }


.carousel-control-next-icon{
    background-image: url(./assets/right.svg);
}

.carousel-control-prev-icon{
    background-image: url(./assets/left.svg);
}


.carousel-indicators {
    background-color:lightgray;
    border-radius: 7px;
    opacity: 0.9;
}

.carousel-indicators li {
    cursor: pointer;
    background-color: #EEEEEE;
    color: lightgray;
    border-radius: 7px;
}

.carousel-indicators .active {
    cursor: pointer;
    background-color: gainsboro;
}

.carousel-caption {
    background-color: darkgray;
    padding: 5px;
    margin: 5px;
    opacity: 0.6;
}

.carousel-caption > h5, p{
    opacity: 1;
}

.carousel-caption p{
    color:#0C445A;
    font-weight: 500;
}

#home{
    position: relative;
}

#projects{
    position: relative;
}

#experience{
    position: relative;
}

#education{
    position: relative;
}

#skills{
    position: relative;
}

#about-project{
    margin-top: 25px;
    width: 75%;
}

.programming {
    width: 28px;
    padding: 5px;
}

.programming-images {
    width: 54px;
    padding-right: 7px;
}

.brand-images {
    margin: 5px;
    cursor: pointer;
}

.brand-images:hover{

    filter: drop-shadow(0px 0px 1px #FFFFFF);
    /*box-shadow: 0 0 15px  #dd4b39;*/
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.3s ease;
}

.fa-envelope{
    font-size: 2em;
}

.fa-envelope:hover{
    font-size:2em;
    transition: 0.3s ease-out;
}

#copy {
   display:inline-block;
    width: 12%;
    height: 10%;
}

#transit-tracker > .programming-images, .programming  {
    width: 4%;
    padding-right: 7px;
    background-size: cover;
   
}

#todo > .programming-images, .programming  {
    width: 4%;
    padding-right: 7px;
    background-size: cover;
 
}



#issue-tracker > p {
    width: 75%;
}

#transit-tracker {
    margin-top: 50px;
}

#todo{
    margin-top: 50px;
}

#todo .carousel-item > h5, p {
 font-size: 0.90em;
}

/*
#todo .carousel-inner img{
  height: 325px;
  max-height: 325px;
}
*/

/*
#todo .carousel-inner {
    width: 800px;
    min-width: 800px;
}
*/

/*
#todo .carousel-control-next{
    padding-right: 100px;
}
*/

#todo .carousel-caption {
    opacity: 0.4;
}

.vl {
  border: 1px solid gray;
    margin-right: 5px;
  height: 500px;
}

/* ---------------------------------------------------
    VIDEO
----------------------------------------------------- */


/* ---------------------------------------------------
    Projects
----------------------------------------------------- */

/* ---------------------------------------------------
    Experience
----------------------------------------------------- */
#experience{
    width: 100%;
}

/*
#experience .carousel-inner img{
  height: 355px;
  max-height: 3555px;
}
*/

#experience .carousel-inner {
    margin-bottom: 20px;
}

/*
#experience .carousel-control-next{
    padding-right: 100px;
}
*/

/* ---------------------------------------------------
    Skills
----------------------------------------------------- */

#skills{
    width: 75%;
}


/* ---------------------------------------------------
    RESPONSIVE MOBILE LINKS
----------------------------------------------------- */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #content {
  padding-top: 60px;
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

.topnav {
 top:0px;
 display:none;
}

.myLinks {
  background: #55ACEE;
  color: #fff;
  transition: all 0.5s ease-in;
  display: none;
    
}

.myLinks.active {
  animation: scale-display .3s;
  display: inline-flex;
    }
.myLinks.out {
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
    display: inline-flex;
}

.hidden {
  display: none;
}

.visual {
  opacity: 1;
}

.displayed {
    display: block;
}

.myLinks ul.components {
    border-bottom: 1px solid #47748b;
}


.myLinks ul p {
    color: #fff;
    padding: 10px;
}

.myLinks ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.myLinks ul li > a {
    border: 0.2px solid #EAECEE;
}

.myLinks ul li a:hover {
    color: #55ACEE;
    background: #fff;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  transition: ease-in 0.2s;
}

.topnav a.icon {
  background: #157fd1;
  display: block;
  position: initial;
      
float: right;
  right: 0;
  top: 0;
}


.topnav .stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#customnav{
            display:none;
        }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 768px){
    #sidebar {
  height: 0;
  width: 0;
  position: fixed;
    display: none;
    }
    
     #customnav{
            display:flex;
        }
    
    .topnav {
        display: block;
        position: sticky;
        top:0;
        width: calc( 100% + 30px);
    }
    
   
   #content{
        margin-left: 0px; /*default to 0*/
        background-color: aliceblue;
        width:100%;
    } 
    #projects{
       width:100%;
    }
    
    #projects video{
        width:110%;
    }
    
/*
    #projects .carousel{
        width:100%!important;
    }
    #projects .carousel-inner{
        height: 300px;
    }
    #projects .carousel-inner img{
        min-height: 300px;
    }
*/
    #experience{
        width:100%;
    }
    #skills{
        width:100%;
    }
    
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
}
/*
@media screen and (max-width: 414px) {
    #sidebar {
    padding-top: 15px;
        width:10%;
    }
    #sidebar a{font-size: 18px;}auto
    #content{
        min-width: 250px!important;
        margin-right: 0!important;
        position: relative;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .openbtn span {
        display: none;
    }
    
}

@media screen and (max-width: 400px) {
  #sidebar > a {
    text-align: center;
    float: none;
  }
}*/
